.tag-view-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
}

.tag-square {
    width: 300px;
    height: 100px;
    background-color: #4d4d4d;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    word-break: break-word;
    padding: 4px;
    transition: background-color 0.2s;
}

.tag-square:hover {
    background-color: #7f7f7f;
}


/* .tag-view-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
} */
.tag-counter {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.1em;
}
.tag-squares {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}